[Service]
ExecStart=node /home/wealthy/wealthyClient/main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wealthy
User=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target