[Service]
ExecStart=/home/wealthy/wealthyClient/serve.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wealthy
User=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target