ul.nav.nav-tabs.section__tabs {
    margin: 0 auto 20px;

    li {
        margin-right: 0;
        width: auto;
        a {
            padding: 10px;

            img {
                width: 22px;
            }

        }
    }
}